*,
*::before,
*::after {
    box-sizing: border-box;
}


 /*  custom props  */
:root{
    --ff-primary: 'Space Mono', monospace;
    --ff-secondary:'Saira Semi Condensed', sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

/* #navbar {
  overflow: hidden;
  background: rgb(160,222,222);
  background: linear-gradient(0deg, rgba(160,222,222,1) 0%, rgba(200,162,200,1) 100%);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;

}

#navbar a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  padding-right: 20px;
  text-decoration: none;
  position: sticky;
  top: 0;
} */


  @media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}






body {
  background: rgb(160,222,222);
  background: linear-gradient(0deg, rgba(160,222,222,1) 0%, rgba(200,162,200,1) 100%);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}




h1, h2 ,h3 {
  line-height: 1;
  margin: 0;
}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}






/* footer */
.footer{
  margin-top: 140em;
  background: rgb(162,162,171);
  background: radial-gradient(circle, rgba(162,162,171,1) 0%, rgba(103,100,100,1) 100%);
  color: black;
  height: 7em;
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a{
  color: inherit;
  text-decoration: none;
  }

.footerLink{
    font-weight: var(--fw-bold);
}

.footerLink:hover;
.socialList: {
  opacity: .7;
}

.footerLink:hover{
  text-decoration: underline;
}

.socialList{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.SocialListItem{
  margin: .5em;
}

.socialListLink{
  padding: .5em;
}

@media (max-width: 750px;) {
  #navbar {
    overflow: hidden;
    background: rgb(160,222,222);
    background: linear-gradient(0deg, rgba(160,222,222,1) 0%, rgba(200,162,200,1) 100%);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;

  }

  #navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    padding-right: 20px;
    text-decoration: none;
    position: sticky;
    top: 0;
  }

}
